<div class="qa-sidepanel" id="qam-sidepanel-mobile">
  <% if course %>
    <%= link_to "Ask question", new_course_question_path(course), class: "ask btn btn-primary" %>
    <div class="qa-widget-side">
      <div class="section-title-line">
        <%= content_tag :h2, title: "#{course.name} - #{course.course_category.name}" do %>
          <%= course.name.truncate_words 2 %>
        <% end %>
        <hr class="filler-line">
      </div>
      <div>
        <p>Student: <%= course.users.students.size %></p>
        <p>Question: <%= course.posts_count %></p>
        <p>Answer: <%= course.course_answers_count %></p>
      </div>
    </div>
  <% end %>
  <div class="sidebar-box-links">
    <%= link_to hot_path(course_id: course) do %>
      <i class="fa fa-fire" aria-hidden="true"></i> Hot question
    <% end %>
  </div>
  <div class="qa-widget-side">
    <div class="section-title-line"><h2>Unanswered Tags</h2><hr class="filler-line"></div>
    <div>
      <%= render partial: "tag_sidepanel", collection: tags, as: :tag, locals: {course: @course} %>
    </div>
    <div class="sidebar-box-links">
      <%= link_to tags_path(course_id: course) do %>
        <i aria-hidden="true" class="fa fa-tags mr-05"></i> All tags
      <% end %>
    </div>
  </div>
</div>
