<div class="col-md-3 col-sm-4 col-xs-4 qa-tabs-title">
  <h2>Unanswered Questions</h2>
</div>
<div class="nav-tab-bound">
  <ul class="nav nav-tabs qa-nav-tabs-right">
    <li class="menu-second-top-nav"><%= link_to "All questions", questions_path, title: "Switch to all questions tabs" %></li>
    <li class="menu-second-top-nav <%= @tab == "newest" ? :active : nil %>">
      <%= link_to "Newest", unanswered_path(tab: :newest), title: "newest unanswered questions" %>
    </li>
    <li class="menu-second-top-nav <%= @tab == "votest" ? :active : nil %>">
      <%= link_to "Votes", unanswered_path(tab: :votest), title: "highest voted unanswered questions" %>
    </li>
  </ul>
</div>

<div class="tab-content">
  <div class="qa-main">
    <div class="qa-part-q-list">
      <div class="qa-q-list">
        <%= render partial: "posts/question", collection: @unanswered_questions %>
        <%= paginate @unanswered_questions, params: {tab: @tab} %>
      </div>
    </div>
  </div>
  <%= render partial: "sidepanel", locals: {tags: @unanswered_tags} %>
</div>
