<div class="singup-main">
  <h3>Create your QA account.</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control"%>
    </div>
    <div class="form-group">
      <a class="pull-right" href="#">Forgot password?</a>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", required: true, class: "form-control" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="checkbox pull-right">
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %> Remember me
        <% end %>
      </div>
    <% end %>
    <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>
</div>
