<div class="col-md-2 col-sm-2 col-xs-1 qa-q-tabs-title">
  <h2>All Questions</h2>
</div>
<div class="nav-tab-bound">
  <ul class="nav nav-tabs qa-nav-tabs-right">
    <li class="menu-second-top-nav"><%= link_to "Unanswered", unanswered_path(course_id: @course), title: "Switch to unanswered tabs" %></li>
    <li class="menu-second-top-nav <%= @tab == "most_answers" ? :active : nil %>">
      <%= link_to "Most answers", questions_path(tab: :most_answers, course_id: @course), title: "Questions with the most answers" %>
    </li>
    <li class="menu-second-top-nav <%= @tab == "votest" ? :active : nil %>">
      <%= link_to "Votes", questions_path(tab: :votest, course_id: @course), title: "Questions with the most votes" %>
    </li>
    <li class="menu-second-top-nav <%= @tab == "newest" ? :active : nil %>">
      <%= link_to "Newest", questions_path(tab: :newest, course_id: @course), title: "The most recently asked questions" %>
    </li>
  </ul>
</div>

<div class="tab-content">
  <div class="qa-main">
    <div class="qa-part-q-list">
      <div class="qa-q-list">
        <%= render partial: "question", collection: @questions, locals: {course: @course} %>
        <%= paginate @questions, params: {tab: @tab, course_id: @course} %>
      </div>
    </div>
  </div>
  <%= render partial: "sidepanel", locals: {tags: @tags, course: @course} %>
</div>
