<div class="qa-main-wrapper">
  <div class="qa-main">
    <h1>
      <%= link_to @question_path do %>
        <span class="entry-title"><%= @question.title %></span>
      <% end %>
    </h1>
    <div class="qa-part-q-view">
      <div class="qa-q-view">
        <div class="qa-q-view-stats">
          <%= render partial: "vote", locals: {post: @question} %>
        </div>
        <div class="qa-q-view-main">
          <%= render partial: "question_header", locals: {question: @question} %>
          <div class="qa-q-view-content">
            <div class="entry-content"><%= simple_format @question.body %></div>
          </div>
          <div class="qa-q-view-tags">
            <%= render partial: "tag", collection: @question.tags %>
          </div>
          <div class="qa-q-view-buttons">
            <div class="qa-q-buttons">
              <% unless owner_user? @question.owner_user %>
                <button data-toggle="collapse" data-target="#qa-q-answer" class="btn btn-info">
                  <i class="fa fa-sticky-note" aria-hidden="true"> answer</i>
                </button>
              <% end %>
              <button data-toggle="collapse" data-target="#qa-q-comment" class="btn btn-success">
                <i class="fa fa-commenting" aria-hidden="true"> comment</i>
              </button>
            </div>
            <div class="pull-right">
              <% if owner_user? @question.owner_user %>
                <%= link_to edit_question_path(@question), class: "btn btn-primary active" do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                <% end %>
                <%= link_to question_path(@question), class: "btn btn-primary active",
                  data: {confirm: "Are you sure", method: :delete} do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <% if @question.comments.any? %>
            <div class="qa-q-view-c-list">
              <%= render partial: "question_comments/comment", collection: @question.comments, as: :comment, locals: {question: @question} %>
            </div>
          <% end %>
          <%= render partial: "question_comments/form", locals: {question: @question} %>
        </div>
      </div>
    </div>
    <%= render partial: "answers/form", locals: {question: @question} %>

    <% if @question.answers.any? %>
      <%= render partial: "answers", locals: {question: @question} %>
    <% else %>
      <div class="qa-clearfix"></div>
    <% end %>
  </div>
  <div id="qam-sidepanel-toggle"><i class="icon-left-open-big"></i></div>
  <div class="qa-sidepanel" id="qam-sidepanel-mobile">
    <div class="qa-sidebar wet-asphalt">
    </div>
    <div class="qa-widgets-side qa-widgets-side-high">
      <div class="qa-widget-side qa-widget-side-high">
        <div class="qa-related-qs">
          <h2 style="margin-top:0; padding-top:0;">
            Related questions
          </h2>
          <ul class="qa-related-q-list">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
