<div class="nav-tab-bound">
  <ul class="nav nav-tabs qa-nav-tabs-right">
    <li class="menu-second-top-nav"><%= link_to "Unanswered", tagged_unanswered_path(params[:name]), title: "Switch to unanswered tabs" %></li>
    <li class="menu-second-top-nav <%= @tab == "most_answers" ? :active : nil %>">
      <%= link_to "Most answers", tagged_questions_path(tab: :most_answers), title: "Questions with the most answers" %>
    </li>
    <li class="menu-second-top-nav <%= @tab == "newest" ? :active : nil %>">
      <%= link_to "Newest", tagged_questions_path(tab: :newest), title: "The most recently asked questions" %>
    </li>
    <li class="menu-second-top-nav <%= @tab == "votest" ? :active : nil %>">
      <%= link_to "Votes", tagged_questions_path(tab: :votest), title: "Questions with the most votes" %>
    </li>
  </ul>
</div>

<div class="tab-content">
  <div class="qa-main">
    <div class="qa-part-q-list">
      <div class="qa-q-list">
        <%= render partial: "question", collection: @tagged_questions %>
        <%= paginate @tagged_questions, params: {tab: @tab} %>
      </div>
    </div>
  </div>
  <%= render partial: "sidepanel", locals: {tags: @tags} %>
</div>
