<div class="qa-q-list-item">
  <div class="qa-q-item-stats">
    <div class="qa-voting qa-voting-net">
      <div class="qa-vote-count qa-vote-count-net">
        <span class="qa-netvote-count">
          <span class="qa-netvote-count-data">
            <% if @tab == "active" %>
              <%= @active_category_posts[question.id].first.vote_count %>
            <% else %>
              <%= question.vote_count %>
            <% end %>
          </span>
          <span class="qa-netvote-count-pad">votes</span>
        </span>
      </div>
      <div class="qa-vote-clear">
      </div>
    </div>
    <span class="qa-a-count qa-a-count-selected">
      <span class="qa-a-count-data"><%= question.answers_count %></span>
      <span class="qa-a-count-pad"> answers</span>
    </span>
    <span class="qa-view-count">
      <span class="qa-view-count-data"><%= question.views_count %></span>
      <span class="qa-view-count-pad"> views</span>
    </span>
  </div>
  <div class="qa-q-item-main">
    <div class="qa-q-item-title">
      <%= link_to question_path(question) do %>
        <span><%= question.title %></span>
      <% end %>
    </div>
    <span class="qa-q-item-avatar-meta">
      <span class="qa-q-item-avatar">
        <%= link_to user_path(question.owner_user), class: "qa-avatar-link" do %>
          <%= image_tag question.owner_user.avatar_url(:thumb), class: "qa-avatar-image" %>
        <% end %>
      </span>
      <span class="qa-q-item-meta">
        <span class="qa-q-item-what">
          <% if @tab == "active" && question.greatest_name == "answer" %>
            <%= link_to "answered", question_path(question, anchor: "answer-#{question.answer_id}") %>
          <% else %>
            asked
          <% end %>
        </span>
        <span class="qa-q-item-when">
          <% if @tab == "active" && question.greatest_name == "answer" %>
            <span class="qa-q-item-when-data" title="<%= l question.greatest_value.to_time, format: :date_title %>">
              <%= time_ago_in_words question.created_at %>
            </span>
          <% else %>
            <span class="qa-q-item-when-data" title="<%= l question.created_at, format: :date_title %>">
              <%= time_ago_in_words question.created_at %>
            </span>
          <% end %>
          <span class="qa-q-item-when-pad"> ago</span>
        </span>
        <span class="qa-q-item-where">
          <span class="qa-q-item-where-pad">in </span>
          <span>
            <%= category_link question %>
          </span>
        </span>
        <span class="qa-q-item-who">
          <span class="qa-q-item-who-pad">by </span>
          <span class="qa-q-item-who-data">
            <%= link_to question.owner_user.name, user_path(question.owner_user) %>
          </span>
        </span>
      </span>
    </span>
    <div class="qa-q-item-tags">
      <ul class="qa-q-item-tag-list">
        <%= render partial: "posts/tag", collection: question.tags %>
      </ul>
    </div>
  </div>
  <div class="qa-q-item-clear">
  </div>
</div>
