<ul class="nav nav-tabs">
  <li class="menu-second-top-nav">
    <%= link_to "Profile", user_path(@user, tab: :profile) %>
  </li>
  <li class="menu-second-top-nav">
    <%= link_to "Activity", user_path(@user, tab: :activity) %>
  </li>
  <% if @user.consultant %>
    <li class="menu-second-top-nav active">
      <%= link_to "Categories", user_path(@user, tab: :categories) %>
    </li>
  <% end %>
  <% if owner_user? @user %>
    <li class="menu-second-top-nav">
      <%= link_to "Edit Profile", edit_user_path(@user) %>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="qa-part-form-categories">
    <h2><a>Activity by <%= @user.name %> in <%= @category.name %></a></h2>

    <ul class="qa-nav-tabs-right nav nav-tabs">
      <li class="menu-second-top-nav <%= @tab == "answered" ? :active : nil %>">
        <%= link_to "answered", user_category_path(@user, @category, tab: :answered) %>
      </li>
      <li class="menu-second-top-nav <%= @tab == "unanswered" ? :active : nil %>">
        <%= link_to "unanswered", user_category_path(@user, @category, tab: :unanswered) %>
      </li>
    </ul>

    <div class="tab-content">
      <%= render partial: "users/question", collection: @category_posts, as: :object %>
      <%= paginate @category_posts, params: {tab: @tab} %>
    </div>
  </div>
</div>
