<div class="qa-c-list-item qa-comment" data-qa-c-id="<%= comment.id %>" id="comment-<%= comment.id %>">
  <span class="qa-c-item-avatar-meta">
    <span class="qa-c-item-avatar">
      <%= link_to user_path(comment.user), class: "qa-avatar-link" do %>
        <%= image_tag comment.user.avatar_url(:thumb), class: "img-circle qa-avatar-image" %>
      <% end %>
    </span>
    <span class="qa-c-item-meta">
      <%= link_to "commented", question_path(answer.question, anchor: "comment-#{comment.id}") %>
      <span class="qa-c-item-when">
        <span class="qa-c-item-when-data">
          <span class="published updated">
            <%= content_tag :span, title: comment.created_at, class: "value-title" do %>
              <%= time_ago_in_words comment.created_at %>
            <% end %>
          </span>
        </span>
      </span>
      <span class="qa-c-item-who">
        <span class="qa-c-item-who-pad">by </span>
        <span class="qa-c-item-who-data">
          <span class="vcard author"><%= link_to comment.user.name, user_path(comment.user) %>
          </span>
        </span>
      </span>
    </span>
  </span>
  <div class="qa-c-item-content"><%= comment.text %></div>
  <% if owner_user? comment.user %>
    <div class="qa-c-item-footer">
      <div class="qa-c-item-buttons">
        <div class="pull-right">
          <%= link_to edit_answer_comment_path(answer, comment), remote: true, class: "qa-btn" do %>
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
          <% end %>
          <%= link_to answer_comment_path(answer, comment), method: :delete, remote: true, data: {confirm: "Are you sure"},
            class: "qa-btn" do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="qa-c-item-clear">
  </div>
</div>
